body{
  font-family: 'Open Sans', sans-serif;
}
.header-bar {
  background-color: #292929;
}
.input-dark {
  background-color: #444;
  border-color: transparent;
  color: #FFFFFF;
}
.input-dark:focus {
  color: #FFFFFF;
  background-color: #555;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.form-group {
  position: relative;
}
.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}
footer p{
  text-align: center;
}
.overview{
  height: 320px;
}
.nav-tabs{
  color: #292929
}

.nav li{
  padding-left: 30px;
}
.nav-tabs a{
  text-decoration: none;
  color: #292929;
  
  transition: .2s;
}
.nav-tabs a:hover{
  transform: translateX(20px);
}
.nav-tabs li.active{
  text-decoration: underline 1px solid;
  font-weight: bold;
}
.Item-prop{
  float: left;
  
  padding-top: 10px;
}
.Item-table{
  height: 40px;
  border-bottom: 0.5px solid black;
}
.green{
  color:lightgreen;
}
.red{
  color: red;
}