.Navigation{
    height: 80vh;
    background-color: #292929;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}
.containerDashboard{
    margin-left: 10px;
}
.Navigation a{
        text-decoration: none;
        color: white;
        transition: .2s;
      
}