.Navigation{
    height: 70vh;
    background-color: #292929;
    border-radius: 20px;
    font-size: 16px;
}
.containerDashboard{
    margin-left: 40px;
}
.Content{

}
.Navigation a{
    text-decoration: none;
    color: white;
    transition: .2s;
    border-bottom: 2px solid white;
}
.Navigation li{
    padding-top: 35px;
    text-align: left; 
}
.Navigation a:hover{
    border-bottom-color: yellow;
}
.Navigation li:hover{
    transform: translateX(20px);
}
li .active{
    border-bottom-color:  yellow;
}

.mainPage{
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.Quotes-header, .Quotes-container{
    padding-top: 20px;
}
.Quotes-header_name, .Quotes-header_price, .Quotes-header_currency, .Quotes-header_change, .Quotes-header_marketcap, .Quotes-item-prop{
    display:inline-block;
}
.Quotes-item-prop{
    padding-top: 5px;
    border-bottom: 0.5px solid black;
}

.add-item_form_group{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Add-Item{
    border: 0.5px solid black;
    border-radius: 20px;
}
.Display-inline{
    display: inline-block
}
.Items-group h2{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
}
.wallet-item{
    margin-top: 10px;
    border-bottom: 1px solid black;
    height: 50px;
    width: 100%;
}
.wallet-header{
    height: 25px;
    border-bottom: 2px solid black;
    height: 25px;
}
.item-box, .item-box_header{
    float: left;
    text-align: center;
}
.item-box_header{
    font-size: 13px;
}
.svg-inline--fa {
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
.text-primary {
    color: #007bff;
}
.text-danger{
    color: #dc3545;
}
.button .item-box{
    width: 10px;
}
.wallet-item_name{
    width: 170px;
}
.wallet-item_quantity{
    width: 80px;
}
.wallet-item_currentValue, .wallet-item_profitLoss{
    width: 140px;
}
.wallet-item_edit, .wallet-item_delete{
    margin-left: 20px;
}

.Items-group_summary{
    margin-top: 10px;
    margin-bottom: 10px;
}
.Items-group_summary h4{
    font-size: 15px;
    font-weight: bold;
}

.Items-group_summary h5{
    font-size: 13px;
    font-weight: bold;
}